.mt1 {
  margin-top: 8px; }

.mr1 {
  margin-right: 8px; }

.mb1 {
  margin-bottom: 8px; }

.ml1 {
  margin-left: 8px; }

.m1 {
  margin: 8px; }

.mt2 {
  margin-top: 16px; }

.mr2 {
  margin-right: 16px; }

.mb2 {
  margin-bottom: 16px; }

.ml2 {
  margin-left: 16px; }

.m2 {
  margin: 16px; }

.mt3 {
  margin-top: 24px; }

.mr3 {
  margin-right: 24px; }

.mb3 {
  margin-bottom: 24px; }

.ml3 {
  margin-left: 24px; }

.m3 {
  margin: 24px; }

.mt4 {
  margin-top: 32px; }

.mr4 {
  margin-right: 32px; }

.mb4 {
  margin-bottom: 32px; }

.ml4 {
  margin-left: 32px; }

.m4 {
  margin: 32px; }

.mt5 {
  margin-top: 40px; }

.mr5 {
  margin-right: 40px; }

.mb5 {
  margin-bottom: 40px; }

.ml5 {
  margin-left: 40px; }

.m5 {
  margin: 40px; }

.mt6 {
  margin-top: 48px; }

.mr6 {
  margin-right: 48px; }

.mb6 {
  margin-bottom: 48px; }

.ml6 {
  margin-left: 48px; }

.m6 {
  margin: 48px; }

.mt7 {
  margin-top: 56px; }

.mr7 {
  margin-right: 56px; }

.mb7 {
  margin-bottom: 56px; }

.ml7 {
  margin-left: 56px; }

.m7 {
  margin: 56px; }

.mt8 {
  margin-top: 64px; }

.mr8 {
  margin-right: 64px; }

.mb8 {
  margin-bottom: 64px; }

.ml8 {
  margin-left: 64px; }

.m8 {
  margin: 64px; }

.b--black-1 {
  border-color: rgba(0, 0, 0, 0.01); }

.b--black-2 {
  border-color: rgba(0, 0, 0, 0.02); }

.b--black-3 {
  border-color: rgba(0, 0, 0, 0.03); }

.b--black-4 {
  border-color: rgba(0, 0, 0, 0.04); }

.b--black-5 {
  border-color: rgba(0, 0, 0, 0.05); }

.b--black-6 {
  border-color: rgba(0, 0, 0, 0.06); }

.b--black-7 {
  border-color: rgba(0, 0, 0, 0.07); }

.b--black-8 {
  border-color: rgba(0, 0, 0, 0.08); }

.b--black-9 {
  border-color: rgba(0, 0, 0, 0.09); }

.b--black-10 {
  border-color: rgba(0, 0, 0, 0.1); }

.b--black-11 {
  border-color: rgba(0, 0, 0, 0.11); }

.b--black-12 {
  border-color: rgba(0, 0, 0, 0.12); }

.b--black-13 {
  border-color: rgba(0, 0, 0, 0.13); }

.b--black-14 {
  border-color: rgba(0, 0, 0, 0.14); }

.b--black-15 {
  border-color: rgba(0, 0, 0, 0.15); }

.b--black-16 {
  border-color: rgba(0, 0, 0, 0.16); }

.b--black-17 {
  border-color: rgba(0, 0, 0, 0.17); }

.b--black-18 {
  border-color: rgba(0, 0, 0, 0.18); }

.b--black-19 {
  border-color: rgba(0, 0, 0, 0.19); }

.b--black-20 {
  border-color: rgba(0, 0, 0, 0.2); }

.b--black-21 {
  border-color: rgba(0, 0, 0, 0.21); }

.b--black-22 {
  border-color: rgba(0, 0, 0, 0.22); }

.b--black-23 {
  border-color: rgba(0, 0, 0, 0.23); }

.b--black-24 {
  border-color: rgba(0, 0, 0, 0.24); }

.b--black-25 {
  border-color: rgba(0, 0, 0, 0.25); }

.b--black-26 {
  border-color: rgba(0, 0, 0, 0.26); }

.b--black-27 {
  border-color: rgba(0, 0, 0, 0.27); }

.b--black-28 {
  border-color: rgba(0, 0, 0, 0.28); }

.b--black-29 {
  border-color: rgba(0, 0, 0, 0.29); }

.b--black-30 {
  border-color: rgba(0, 0, 0, 0.3); }

.b--black-31 {
  border-color: rgba(0, 0, 0, 0.31); }

.b--black-32 {
  border-color: rgba(0, 0, 0, 0.32); }

.b--black-33 {
  border-color: rgba(0, 0, 0, 0.33); }

.b--black-34 {
  border-color: rgba(0, 0, 0, 0.34); }

.b--black-35 {
  border-color: rgba(0, 0, 0, 0.35); }

.b--black-36 {
  border-color: rgba(0, 0, 0, 0.36); }

.b--black-37 {
  border-color: rgba(0, 0, 0, 0.37); }

.b--black-38 {
  border-color: rgba(0, 0, 0, 0.38); }

.b--black-39 {
  border-color: rgba(0, 0, 0, 0.39); }

.b--black-40 {
  border-color: rgba(0, 0, 0, 0.4); }

.b--black-41 {
  border-color: rgba(0, 0, 0, 0.41); }

.b--black-42 {
  border-color: rgba(0, 0, 0, 0.42); }

.b--black-43 {
  border-color: rgba(0, 0, 0, 0.43); }

.b--black-44 {
  border-color: rgba(0, 0, 0, 0.44); }

.b--black-45 {
  border-color: rgba(0, 0, 0, 0.45); }

.b--black-46 {
  border-color: rgba(0, 0, 0, 0.46); }

.b--black-47 {
  border-color: rgba(0, 0, 0, 0.47); }

.b--black-48 {
  border-color: rgba(0, 0, 0, 0.48); }

.b--black-49 {
  border-color: rgba(0, 0, 0, 0.49); }

.b--black-50 {
  border-color: rgba(0, 0, 0, 0.5); }

.b--black-51 {
  border-color: rgba(0, 0, 0, 0.51); }

.b--black-52 {
  border-color: rgba(0, 0, 0, 0.52); }

.b--black-53 {
  border-color: rgba(0, 0, 0, 0.53); }

.b--black-54 {
  border-color: rgba(0, 0, 0, 0.54); }

.b--black-55 {
  border-color: rgba(0, 0, 0, 0.55); }

.b--black-56 {
  border-color: rgba(0, 0, 0, 0.56); }

.b--black-57 {
  border-color: rgba(0, 0, 0, 0.57); }

.b--black-58 {
  border-color: rgba(0, 0, 0, 0.58); }

.b--black-59 {
  border-color: rgba(0, 0, 0, 0.59); }

.b--black-60 {
  border-color: rgba(0, 0, 0, 0.6); }

.b--black-61 {
  border-color: rgba(0, 0, 0, 0.61); }

.b--black-62 {
  border-color: rgba(0, 0, 0, 0.62); }

.b--black-63 {
  border-color: rgba(0, 0, 0, 0.63); }

.b--black-64 {
  border-color: rgba(0, 0, 0, 0.64); }

.b--black-65 {
  border-color: rgba(0, 0, 0, 0.65); }

.b--black-66 {
  border-color: rgba(0, 0, 0, 0.66); }

.b--black-67 {
  border-color: rgba(0, 0, 0, 0.67); }

.b--black-68 {
  border-color: rgba(0, 0, 0, 0.68); }

.b--black-69 {
  border-color: rgba(0, 0, 0, 0.69); }

.b--black-70 {
  border-color: rgba(0, 0, 0, 0.7); }

.b--black-71 {
  border-color: rgba(0, 0, 0, 0.71); }

.b--black-72 {
  border-color: rgba(0, 0, 0, 0.72); }

.b--black-73 {
  border-color: rgba(0, 0, 0, 0.73); }

.b--black-74 {
  border-color: rgba(0, 0, 0, 0.74); }

.b--black-75 {
  border-color: rgba(0, 0, 0, 0.75); }

.b--black-76 {
  border-color: rgba(0, 0, 0, 0.76); }

.b--black-77 {
  border-color: rgba(0, 0, 0, 0.77); }

.b--black-78 {
  border-color: rgba(0, 0, 0, 0.78); }

.b--black-79 {
  border-color: rgba(0, 0, 0, 0.79); }

.b--black-80 {
  border-color: rgba(0, 0, 0, 0.8); }

.b--black-81 {
  border-color: rgba(0, 0, 0, 0.81); }

.b--black-82 {
  border-color: rgba(0, 0, 0, 0.82); }

.b--black-83 {
  border-color: rgba(0, 0, 0, 0.83); }

.b--black-84 {
  border-color: rgba(0, 0, 0, 0.84); }

.b--black-85 {
  border-color: rgba(0, 0, 0, 0.85); }

.b--black-86 {
  border-color: rgba(0, 0, 0, 0.86); }

.b--black-87 {
  border-color: rgba(0, 0, 0, 0.87); }

.b--black-88 {
  border-color: rgba(0, 0, 0, 0.88); }

.b--black-89 {
  border-color: rgba(0, 0, 0, 0.89); }

.b--black-90 {
  border-color: rgba(0, 0, 0, 0.9); }

.b--black-91 {
  border-color: rgba(0, 0, 0, 0.91); }

.b--black-92 {
  border-color: rgba(0, 0, 0, 0.92); }

.b--black-93 {
  border-color: rgba(0, 0, 0, 0.93); }

.b--black-94 {
  border-color: rgba(0, 0, 0, 0.94); }

.b--black-95 {
  border-color: rgba(0, 0, 0, 0.95); }

.b--black-96 {
  border-color: rgba(0, 0, 0, 0.96); }

.b--black-97 {
  border-color: rgba(0, 0, 0, 0.97); }

.b--black-98 {
  border-color: rgba(0, 0, 0, 0.98); }

.b--black-99 {
  border-color: rgba(0, 0, 0, 0.99); }

.b--black-100 {
  border-color: black; }

.ba {
  border-width: 1px;
  border-style: solid; }

.cb {
  border: 0; }

.bt {
  border-top-width: 1px;
  border-top-style: solid; }

.br {
  border-right-width: 1px;
  border-right-style: solid; }

.bb {
  border-bottom-width: 1px;
  border-bottom-style: solid; }

.bl {
  border-left-width: 1px;
  border-left-style: solid; }

.db {
  display: block; }

.dib {
  display: inline-block; }

.df {
  display: flex; }

.dt {
  display: table; }

.dtc {
  display: table-cell; }

.di {
  display: inline; }

.pr {
  position: relative; }

.prt0 {
  top: 0; }

.prr0 {
  right: 0; }

.prb0 {
  bottom: 0; }

.prl0 {
  left: 0; }

.pa {
  position: absolute; }

.pat0 {
  top: 0; }

.par0 {
  right: 0; }

.pab0 {
  bottom: 0; }

.pal0 {
  left: 0; }

.pf {
  position: fixed; }

.pft0 {
  top: 0; }

.pfr0 {
  right: 0; }

.pfb0 {
  bottom: 0; }

.pfl0 {
  left: 0; }

.pac {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.pt1 {
  padding-top: 8px; }

.pr1 {
  padding-right: 8px; }

.pb1 {
  padding-bottom: 8px; }

.pl1 {
  padding-left: 8px; }

.p1 {
  padding: 8px; }

.pt2 {
  padding-top: 16px; }

.pr2 {
  padding-right: 16px; }

.pb2 {
  padding-bottom: 16px; }

.pl2 {
  padding-left: 16px; }

.p2 {
  padding: 16px; }

.pt3 {
  padding-top: 24px; }

.pr3 {
  padding-right: 24px; }

.pb3 {
  padding-bottom: 24px; }

.pl3 {
  padding-left: 24px; }

.p3 {
  padding: 24px; }

.pt4 {
  padding-top: 32px; }

.pr4 {
  padding-right: 32px; }

.pb4 {
  padding-bottom: 32px; }

.pl4 {
  padding-left: 32px; }

.p4 {
  padding: 32px; }

.pt5 {
  padding-top: 40px; }

.pr5 {
  padding-right: 40px; }

.pb5 {
  padding-bottom: 40px; }

.pl5 {
  padding-left: 40px; }

.p5 {
  padding: 40px; }

.pt6 {
  padding-top: 48px; }

.pr6 {
  padding-right: 48px; }

.pb6 {
  padding-bottom: 48px; }

.pl6 {
  padding-left: 48px; }

.p6 {
  padding: 48px; }

.pt7 {
  padding-top: 56px; }

.pr7 {
  padding-right: 56px; }

.pb7 {
  padding-bottom: 56px; }

.pl7 {
  padding-left: 56px; }

.p7 {
  padding: 56px; }

.pt8 {
  padding-top: 64px; }

.pr8 {
  padding-right: 64px; }

.pb8 {
  padding-bottom: 64px; }

.pl8 {
  padding-left: 64px; }

.p8 {
  padding: 64px; }

body {
  font-family: "";
  line-height: 1.5;
  font-weight: 400; }

.h1 {
  font-size: 2rem; }

h1 {
  font-size: 2rem; }

.h2 {
  font-size: 1.75rem; }

h2 {
  font-size: 1.75rem; }

.h3 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.5rem; }

.h4 {
  font-size: 1.25rem; }

h4 {
  font-size: 1.25rem; }

.h5 {
  font-size: 1.25rem; }

h5 {
  font-size: 1.25rem; }

@media (max-width: 768px) {
  .h1 {
    font-size: 4rem; }
  h1 {
    font-size: 4rem; }
  .h2 {
    font-size: 2rem; }
  h2 {
    font-size: 2rem; }
  .h3 {
    font-size: 1.5rem; }
  h3 {
    font-size: 1.5rem; }
  .h4 {
    font-size: 1.25rem; }
  h4 {
    font-size: 1.25rem; }
  .h5 {
    font-size: 1.25rem; }
  h5 {
    font-size: 1.25rem; } }

@media (max-width: 1024px) {
  .h1 {
    font-size: 6rem; }
  h1 {
    font-size: 6rem; }
  .h2 {
    font-size: 3rem; }
  h2 {
    font-size: 3rem; }
  .h3 {
    font-size: 2rem; }
  h3 {
    font-size: 2rem; }
  .h4 {
    font-size: 1.25rem; }
  h4 {
    font-size: 1.25rem; }
  .h5 {
    font-size: 1.25rem; }
  h5 {
    font-size: 1.25rem; } }

.tal {
  text-align: left; }

.tar {
  text-align: right; }

.tac {
  text-align: center; }

.type-margins h1,
.type-margins .h1 {
  margin-bottom: 8px; }

.type-margins h2,
.type-margins .h2 {
  margin-bottom: 8px; }

.type-margins h3,
.type-margins h4,
.type-margins h5,
.type-margins h6,
.type-margins p,
.type-margins dl,
.type-margins ol,
.type-margins ul {
  margin-bottom: 8px; }

.column {
  margin: -4px;
  width: 100%;
  display: inline-block; }

.col-1 {
  float: left;
  width: 8.33333%;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box; }

.col-offset-1 {
  margin-left: 8.33333%; }

.col-2 {
  float: left;
  width: 16.66667%;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box; }

.col-offset-2 {
  margin-left: 16.66667%; }

.col-3 {
  float: left;
  width: 25%;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box; }

.col-offset-3 {
  margin-left: 25%; }

.col-4 {
  float: left;
  width: 33.33333%;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box; }

.col-offset-4 {
  margin-left: 33.33333%; }

.col-5 {
  float: left;
  width: 41.66667%;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box; }

.col-offset-5 {
  margin-left: 41.66667%; }

.col-6 {
  float: left;
  width: 50%;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box; }

.col-offset-6 {
  margin-left: 50%; }

.col-7 {
  float: left;
  width: 58.33333%;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box; }

.col-offset-7 {
  margin-left: 58.33333%; }

.col-8 {
  float: left;
  width: 66.66667%;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box; }

.col-offset-8 {
  margin-left: 66.66667%; }

.col-9 {
  float: left;
  width: 75%;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box; }

.col-offset-9 {
  margin-left: 75%; }

.col-10 {
  float: left;
  width: 83.33333%;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box; }

.col-offset-10 {
  margin-left: 83.33333%; }

.col-11 {
  float: left;
  width: 91.66667%;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box; }

.col-offset-11 {
  margin-left: 91.66667%; }

.col-12 {
  float: left;
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box; }

.col-offset-12 {
  margin-left: 100%; }

@media (max-width: 576px) {
  .col-sm-1 {
    float: left;
    width: 8.33333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; } }

@media (max-width: 576px) {
  .col-sm-2 {
    float: left;
    width: 16.66667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; } }

@media (max-width: 576px) {
  .col-sm-3 {
    float: left;
    width: 25%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-sm-offset-3 {
    margin-left: 25%; } }

@media (max-width: 576px) {
  .col-sm-4 {
    float: left;
    width: 33.33333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; } }

@media (max-width: 576px) {
  .col-sm-5 {
    float: left;
    width: 41.66667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; } }

@media (max-width: 576px) {
  .col-sm-6 {
    float: left;
    width: 50%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-sm-offset-6 {
    margin-left: 50%; } }

@media (max-width: 576px) {
  .col-sm-7 {
    float: left;
    width: 58.33333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; } }

@media (max-width: 576px) {
  .col-sm-8 {
    float: left;
    width: 66.66667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; } }

@media (max-width: 576px) {
  .col-sm-9 {
    float: left;
    width: 75%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-sm-offset-9 {
    margin-left: 75%; } }

@media (max-width: 576px) {
  .col-sm-10 {
    float: left;
    width: 83.33333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; } }

@media (max-width: 576px) {
  .col-sm-11 {
    float: left;
    width: 91.66667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; } }

@media (max-width: 576px) {
  .col-sm-12 {
    float: left;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (max-width: 768px) {
  .col-md-1 {
    float: left;
    width: 8.33333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-md-offset-1 {
    margin-left: 8.33333%; } }

@media (max-width: 768px) {
  .col-md-2 {
    float: left;
    width: 16.66667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-md-offset-2 {
    margin-left: 16.66667%; } }

@media (max-width: 768px) {
  .col-md-3 {
    float: left;
    width: 25%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-md-offset-3 {
    margin-left: 25%; } }

@media (max-width: 768px) {
  .col-md-4 {
    float: left;
    width: 33.33333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-md-offset-4 {
    margin-left: 33.33333%; } }

@media (max-width: 768px) {
  .col-md-5 {
    float: left;
    width: 41.66667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-md-offset-5 {
    margin-left: 41.66667%; } }

@media (max-width: 768px) {
  .col-md-6 {
    float: left;
    width: 50%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-md-offset-6 {
    margin-left: 50%; } }

@media (max-width: 768px) {
  .col-md-7 {
    float: left;
    width: 58.33333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-md-offset-7 {
    margin-left: 58.33333%; } }

@media (max-width: 768px) {
  .col-md-8 {
    float: left;
    width: 66.66667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-md-offset-8 {
    margin-left: 66.66667%; } }

@media (max-width: 768px) {
  .col-md-9 {
    float: left;
    width: 75%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-md-offset-9 {
    margin-left: 75%; } }

@media (max-width: 768px) {
  .col-md-10 {
    float: left;
    width: 83.33333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-md-offset-10 {
    margin-left: 83.33333%; } }

@media (max-width: 768px) {
  .col-md-11 {
    float: left;
    width: 91.66667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-md-offset-11 {
    margin-left: 91.66667%; } }

@media (max-width: 768px) {
  .col-md-12 {
    float: left;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (max-width: 992px) {
  .col-lg-1 {
    float: left;
    width: 8.33333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; } }

@media (max-width: 992px) {
  .col-lg-2 {
    float: left;
    width: 16.66667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; } }

@media (max-width: 992px) {
  .col-lg-3 {
    float: left;
    width: 25%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-lg-offset-3 {
    margin-left: 25%; } }

@media (max-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; } }

@media (max-width: 992px) {
  .col-lg-5 {
    float: left;
    width: 41.66667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; } }

@media (max-width: 992px) {
  .col-lg-6 {
    float: left;
    width: 50%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-lg-offset-6 {
    margin-left: 50%; } }

@media (max-width: 992px) {
  .col-lg-7 {
    float: left;
    width: 58.33333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; } }

@media (max-width: 992px) {
  .col-lg-8 {
    float: left;
    width: 66.66667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; } }

@media (max-width: 992px) {
  .col-lg-9 {
    float: left;
    width: 75%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-lg-offset-9 {
    margin-left: 75%; } }

@media (max-width: 992px) {
  .col-lg-10 {
    float: left;
    width: 83.33333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; } }

@media (max-width: 992px) {
  .col-lg-11 {
    float: left;
    width: 91.66667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; } }

@media (max-width: 992px) {
  .col-lg-12 {
    float: left;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

@media (max-width: 1200px) {
  .col-xl-1 {
    float: left;
    width: 8.33333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-xl-offset-1 {
    margin-left: 8.33333%; } }

@media (max-width: 1200px) {
  .col-xl-2 {
    float: left;
    width: 16.66667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-xl-offset-2 {
    margin-left: 16.66667%; } }

@media (max-width: 1200px) {
  .col-xl-3 {
    float: left;
    width: 25%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-xl-offset-3 {
    margin-left: 25%; } }

@media (max-width: 1200px) {
  .col-xl-4 {
    float: left;
    width: 33.33333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-xl-offset-4 {
    margin-left: 33.33333%; } }

@media (max-width: 1200px) {
  .col-xl-5 {
    float: left;
    width: 41.66667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-xl-offset-5 {
    margin-left: 41.66667%; } }

@media (max-width: 1200px) {
  .col-xl-6 {
    float: left;
    width: 50%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-xl-offset-6 {
    margin-left: 50%; } }

@media (max-width: 1200px) {
  .col-xl-7 {
    float: left;
    width: 58.33333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-xl-offset-7 {
    margin-left: 58.33333%; } }

@media (max-width: 1200px) {
  .col-xl-8 {
    float: left;
    width: 66.66667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-xl-offset-8 {
    margin-left: 66.66667%; } }

@media (max-width: 1200px) {
  .col-xl-9 {
    float: left;
    width: 75%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-xl-offset-9 {
    margin-left: 75%; } }

@media (max-width: 1200px) {
  .col-xl-10 {
    float: left;
    width: 83.33333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-xl-offset-10 {
    margin-left: 83.33333%; } }

@media (max-width: 1200px) {
  .col-xl-11 {
    float: left;
    width: 91.66667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-xl-offset-11 {
    margin-left: 91.66667%; } }

@media (max-width: 1200px) {
  .col-xl-12 {
    float: left;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box; }
  .col-xl-offset-12 {
    margin-left: 100%; } }

.image {
  position: relative;
  display: block;
  box-sizing: border-box; }

.img-full, .is-16-16 > img, .is-24-24 > img, .is-32-32 > img, .is-48-48 > img, .is-64-64 > img, .is-96-96 > img, .is-128-128 > img, .is-256-256 > img {
  width: 100%;
  height: auto;
  display: block; }

.is-16-16 {
  width: 16px;
  height: 16px; }

.is-24-24 {
  width: 24px;
  height: 24px; }

.is-32-32 {
  width: 32px;
  height: 32px; }

.is-48-48 {
  width: 48px;
  height: 48px; }

.is-64-64 {
  width: 64px;
  height: 64px; }

.is-96-96 {
  width: 96px;
  height: 96px; }

.is-128-128 {
  width: 128px;
  height: 128px; }

.is-256-256 {
  width: 256px;
  height: 256px; }

.rounded {
  border-radius: 99999px;
  overflow: hidden; }

.image-responsive-clildren-full, .is-1-by-1 > img, .is-1-by-2 > img, .is-1-by-3 > img, .is-1-by-4 > img, .is-1-by-5 > img, .is-1-by-6 > img, .is-1-by-7 > img, .is-1-by-8 > img, .is-1-by-9 > img, .is-1-by-10 > img, .is-1-by-11 > img, .is-1-by-12 > img, .is-1-by-13 > img, .is-1-by-14 > img, .is-1-by-15 > img, .is-2-by-1 > img, .is-2-by-2 > img, .is-2-by-3 > img, .is-2-by-4 > img, .is-2-by-5 > img, .is-2-by-6 > img, .is-2-by-7 > img, .is-2-by-8 > img, .is-2-by-9 > img, .is-2-by-10 > img, .is-2-by-11 > img, .is-2-by-12 > img, .is-2-by-13 > img, .is-2-by-14 > img, .is-2-by-15 > img, .is-3-by-1 > img, .is-3-by-2 > img, .is-3-by-3 > img, .is-3-by-4 > img, .is-3-by-5 > img, .is-3-by-6 > img, .is-3-by-7 > img, .is-3-by-8 > img, .is-3-by-9 > img, .is-3-by-10 > img, .is-3-by-11 > img, .is-3-by-12 > img, .is-3-by-13 > img, .is-3-by-14 > img, .is-3-by-15 > img, .is-4-by-1 > img, .is-4-by-2 > img, .is-4-by-3 > img, .is-4-by-4 > img, .is-4-by-5 > img, .is-4-by-6 > img, .is-4-by-7 > img, .is-4-by-8 > img, .is-4-by-9 > img, .is-4-by-10 > img, .is-4-by-11 > img, .is-4-by-12 > img, .is-4-by-13 > img, .is-4-by-14 > img, .is-4-by-15 > img, .is-5-by-1 > img, .is-5-by-2 > img, .is-5-by-3 > img, .is-5-by-4 > img, .is-5-by-5 > img, .is-5-by-6 > img, .is-5-by-7 > img, .is-5-by-8 > img, .is-5-by-9 > img, .is-5-by-10 > img, .is-5-by-11 > img, .is-5-by-12 > img, .is-5-by-13 > img, .is-5-by-14 > img, .is-5-by-15 > img, .is-6-by-1 > img, .is-6-by-2 > img, .is-6-by-3 > img, .is-6-by-4 > img, .is-6-by-5 > img, .is-6-by-6 > img, .is-6-by-7 > img, .is-6-by-8 > img, .is-6-by-9 > img, .is-6-by-10 > img, .is-6-by-11 > img, .is-6-by-12 > img, .is-6-by-13 > img, .is-6-by-14 > img, .is-6-by-15 > img, .is-7-by-1 > img, .is-7-by-2 > img, .is-7-by-3 > img, .is-7-by-4 > img, .is-7-by-5 > img, .is-7-by-6 > img, .is-7-by-7 > img, .is-7-by-8 > img, .is-7-by-9 > img, .is-7-by-10 > img, .is-7-by-11 > img, .is-7-by-12 > img, .is-7-by-13 > img, .is-7-by-14 > img, .is-7-by-15 > img, .is-8-by-1 > img, .is-8-by-2 > img, .is-8-by-3 > img, .is-8-by-4 > img, .is-8-by-5 > img, .is-8-by-6 > img, .is-8-by-7 > img, .is-8-by-8 > img, .is-8-by-9 > img, .is-8-by-10 > img, .is-8-by-11 > img, .is-8-by-12 > img, .is-8-by-13 > img, .is-8-by-14 > img, .is-8-by-15 > img, .is-9-by-1 > img, .is-9-by-2 > img, .is-9-by-3 > img, .is-9-by-4 > img, .is-9-by-5 > img, .is-9-by-6 > img, .is-9-by-7 > img, .is-9-by-8 > img, .is-9-by-9 > img, .is-9-by-10 > img, .is-9-by-11 > img, .is-9-by-12 > img, .is-9-by-13 > img, .is-9-by-14 > img, .is-9-by-15 > img, .is-10-by-1 > img, .is-10-by-2 > img, .is-10-by-3 > img, .is-10-by-4 > img, .is-10-by-5 > img, .is-10-by-6 > img, .is-10-by-7 > img, .is-10-by-8 > img, .is-10-by-9 > img, .is-10-by-10 > img, .is-10-by-11 > img, .is-10-by-12 > img, .is-10-by-13 > img, .is-10-by-14 > img, .is-10-by-15 > img, .is-11-by-1 > img, .is-11-by-2 > img, .is-11-by-3 > img, .is-11-by-4 > img, .is-11-by-5 > img, .is-11-by-6 > img, .is-11-by-7 > img, .is-11-by-8 > img, .is-11-by-9 > img, .is-11-by-10 > img, .is-11-by-11 > img, .is-11-by-12 > img, .is-11-by-13 > img, .is-11-by-14 > img, .is-11-by-15 > img, .is-12-by-1 > img, .is-12-by-2 > img, .is-12-by-3 > img, .is-12-by-4 > img, .is-12-by-5 > img, .is-12-by-6 > img, .is-12-by-7 > img, .is-12-by-8 > img, .is-12-by-9 > img, .is-12-by-10 > img, .is-12-by-11 > img, .is-12-by-12 > img, .is-12-by-13 > img, .is-12-by-14 > img, .is-12-by-15 > img, .is-13-by-1 > img, .is-13-by-2 > img, .is-13-by-3 > img, .is-13-by-4 > img, .is-13-by-5 > img, .is-13-by-6 > img, .is-13-by-7 > img, .is-13-by-8 > img, .is-13-by-9 > img, .is-13-by-10 > img, .is-13-by-11 > img, .is-13-by-12 > img, .is-13-by-13 > img, .is-13-by-14 > img, .is-13-by-15 > img, .is-14-by-1 > img, .is-14-by-2 > img, .is-14-by-3 > img, .is-14-by-4 > img, .is-14-by-5 > img, .is-14-by-6 > img, .is-14-by-7 > img, .is-14-by-8 > img, .is-14-by-9 > img, .is-14-by-10 > img, .is-14-by-11 > img, .is-14-by-12 > img, .is-14-by-13 > img, .is-14-by-14 > img, .is-14-by-15 > img, .is-15-by-1 > img, .is-15-by-2 > img, .is-15-by-3 > img, .is-15-by-4 > img, .is-15-by-5 > img, .is-15-by-6 > img, .is-15-by-7 > img, .is-15-by-8 > img, .is-15-by-9 > img, .is-15-by-10 > img, .is-15-by-11 > img, .is-15-by-12 > img, .is-15-by-13 > img, .is-15-by-14 > img, .is-15-by-15 > img {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: block; }

.is-1-by-1 {
  padding-bottom: 100%;
  box-sizing: border-box; }

.is-1-by-2 {
  padding-bottom: 50%;
  box-sizing: border-box; }

.is-1-by-3 {
  padding-bottom: 33.33333%;
  box-sizing: border-box; }

.is-1-by-4 {
  padding-bottom: 25%;
  box-sizing: border-box; }

.is-1-by-5 {
  padding-bottom: 20%;
  box-sizing: border-box; }

.is-1-by-6 {
  padding-bottom: 16.66667%;
  box-sizing: border-box; }

.is-1-by-7 {
  padding-bottom: 14.28571%;
  box-sizing: border-box; }

.is-1-by-8 {
  padding-bottom: 12.5%;
  box-sizing: border-box; }

.is-1-by-9 {
  padding-bottom: 11.11111%;
  box-sizing: border-box; }

.is-1-by-10 {
  padding-bottom: 10%;
  box-sizing: border-box; }

.is-1-by-11 {
  padding-bottom: 9.09091%;
  box-sizing: border-box; }

.is-1-by-12 {
  padding-bottom: 8.33333%;
  box-sizing: border-box; }

.is-1-by-13 {
  padding-bottom: 7.69231%;
  box-sizing: border-box; }

.is-1-by-14 {
  padding-bottom: 7.14286%;
  box-sizing: border-box; }

.is-1-by-15 {
  padding-bottom: 6.66667%;
  box-sizing: border-box; }

.is-2-by-1 {
  padding-bottom: 200%;
  box-sizing: border-box; }

.is-2-by-2 {
  padding-bottom: 100%;
  box-sizing: border-box; }

.is-2-by-3 {
  padding-bottom: 66.66667%;
  box-sizing: border-box; }

.is-2-by-4 {
  padding-bottom: 50%;
  box-sizing: border-box; }

.is-2-by-5 {
  padding-bottom: 40%;
  box-sizing: border-box; }

.is-2-by-6 {
  padding-bottom: 33.33333%;
  box-sizing: border-box; }

.is-2-by-7 {
  padding-bottom: 28.57143%;
  box-sizing: border-box; }

.is-2-by-8 {
  padding-bottom: 25%;
  box-sizing: border-box; }

.is-2-by-9 {
  padding-bottom: 22.22222%;
  box-sizing: border-box; }

.is-2-by-10 {
  padding-bottom: 20%;
  box-sizing: border-box; }

.is-2-by-11 {
  padding-bottom: 18.18182%;
  box-sizing: border-box; }

.is-2-by-12 {
  padding-bottom: 16.66667%;
  box-sizing: border-box; }

.is-2-by-13 {
  padding-bottom: 15.38462%;
  box-sizing: border-box; }

.is-2-by-14 {
  padding-bottom: 14.28571%;
  box-sizing: border-box; }

.is-2-by-15 {
  padding-bottom: 13.33333%;
  box-sizing: border-box; }

.is-3-by-1 {
  padding-bottom: 300%;
  box-sizing: border-box; }

.is-3-by-2 {
  padding-bottom: 150%;
  box-sizing: border-box; }

.is-3-by-3 {
  padding-bottom: 100%;
  box-sizing: border-box; }

.is-3-by-4 {
  padding-bottom: 75%;
  box-sizing: border-box; }

.is-3-by-5 {
  padding-bottom: 60%;
  box-sizing: border-box; }

.is-3-by-6 {
  padding-bottom: 50%;
  box-sizing: border-box; }

.is-3-by-7 {
  padding-bottom: 42.85714%;
  box-sizing: border-box; }

.is-3-by-8 {
  padding-bottom: 37.5%;
  box-sizing: border-box; }

.is-3-by-9 {
  padding-bottom: 33.33333%;
  box-sizing: border-box; }

.is-3-by-10 {
  padding-bottom: 30%;
  box-sizing: border-box; }

.is-3-by-11 {
  padding-bottom: 27.27273%;
  box-sizing: border-box; }

.is-3-by-12 {
  padding-bottom: 25%;
  box-sizing: border-box; }

.is-3-by-13 {
  padding-bottom: 23.07692%;
  box-sizing: border-box; }

.is-3-by-14 {
  padding-bottom: 21.42857%;
  box-sizing: border-box; }

.is-3-by-15 {
  padding-bottom: 20%;
  box-sizing: border-box; }

.is-4-by-1 {
  padding-bottom: 400%;
  box-sizing: border-box; }

.is-4-by-2 {
  padding-bottom: 200%;
  box-sizing: border-box; }

.is-4-by-3 {
  padding-bottom: 133.33333%;
  box-sizing: border-box; }

.is-4-by-4 {
  padding-bottom: 100%;
  box-sizing: border-box; }

.is-4-by-5 {
  padding-bottom: 80%;
  box-sizing: border-box; }

.is-4-by-6 {
  padding-bottom: 66.66667%;
  box-sizing: border-box; }

.is-4-by-7 {
  padding-bottom: 57.14286%;
  box-sizing: border-box; }

.is-4-by-8 {
  padding-bottom: 50%;
  box-sizing: border-box; }

.is-4-by-9 {
  padding-bottom: 44.44444%;
  box-sizing: border-box; }

.is-4-by-10 {
  padding-bottom: 40%;
  box-sizing: border-box; }

.is-4-by-11 {
  padding-bottom: 36.36364%;
  box-sizing: border-box; }

.is-4-by-12 {
  padding-bottom: 33.33333%;
  box-sizing: border-box; }

.is-4-by-13 {
  padding-bottom: 30.76923%;
  box-sizing: border-box; }

.is-4-by-14 {
  padding-bottom: 28.57143%;
  box-sizing: border-box; }

.is-4-by-15 {
  padding-bottom: 26.66667%;
  box-sizing: border-box; }

.is-5-by-1 {
  padding-bottom: 500%;
  box-sizing: border-box; }

.is-5-by-2 {
  padding-bottom: 250%;
  box-sizing: border-box; }

.is-5-by-3 {
  padding-bottom: 166.66667%;
  box-sizing: border-box; }

.is-5-by-4 {
  padding-bottom: 125%;
  box-sizing: border-box; }

.is-5-by-5 {
  padding-bottom: 100%;
  box-sizing: border-box; }

.is-5-by-6 {
  padding-bottom: 83.33333%;
  box-sizing: border-box; }

.is-5-by-7 {
  padding-bottom: 71.42857%;
  box-sizing: border-box; }

.is-5-by-8 {
  padding-bottom: 62.5%;
  box-sizing: border-box; }

.is-5-by-9 {
  padding-bottom: 55.55556%;
  box-sizing: border-box; }

.is-5-by-10 {
  padding-bottom: 50%;
  box-sizing: border-box; }

.is-5-by-11 {
  padding-bottom: 45.45455%;
  box-sizing: border-box; }

.is-5-by-12 {
  padding-bottom: 41.66667%;
  box-sizing: border-box; }

.is-5-by-13 {
  padding-bottom: 38.46154%;
  box-sizing: border-box; }

.is-5-by-14 {
  padding-bottom: 35.71429%;
  box-sizing: border-box; }

.is-5-by-15 {
  padding-bottom: 33.33333%;
  box-sizing: border-box; }

.is-6-by-1 {
  padding-bottom: 600%;
  box-sizing: border-box; }

.is-6-by-2 {
  padding-bottom: 300%;
  box-sizing: border-box; }

.is-6-by-3 {
  padding-bottom: 200%;
  box-sizing: border-box; }

.is-6-by-4 {
  padding-bottom: 150%;
  box-sizing: border-box; }

.is-6-by-5 {
  padding-bottom: 120%;
  box-sizing: border-box; }

.is-6-by-6 {
  padding-bottom: 100%;
  box-sizing: border-box; }

.is-6-by-7 {
  padding-bottom: 85.71429%;
  box-sizing: border-box; }

.is-6-by-8 {
  padding-bottom: 75%;
  box-sizing: border-box; }

.is-6-by-9 {
  padding-bottom: 66.66667%;
  box-sizing: border-box; }

.is-6-by-10 {
  padding-bottom: 60%;
  box-sizing: border-box; }

.is-6-by-11 {
  padding-bottom: 54.54545%;
  box-sizing: border-box; }

.is-6-by-12 {
  padding-bottom: 50%;
  box-sizing: border-box; }

.is-6-by-13 {
  padding-bottom: 46.15385%;
  box-sizing: border-box; }

.is-6-by-14 {
  padding-bottom: 42.85714%;
  box-sizing: border-box; }

.is-6-by-15 {
  padding-bottom: 40%;
  box-sizing: border-box; }

.is-7-by-1 {
  padding-bottom: 700%;
  box-sizing: border-box; }

.is-7-by-2 {
  padding-bottom: 350%;
  box-sizing: border-box; }

.is-7-by-3 {
  padding-bottom: 233.33333%;
  box-sizing: border-box; }

.is-7-by-4 {
  padding-bottom: 175%;
  box-sizing: border-box; }

.is-7-by-5 {
  padding-bottom: 140%;
  box-sizing: border-box; }

.is-7-by-6 {
  padding-bottom: 116.66667%;
  box-sizing: border-box; }

.is-7-by-7 {
  padding-bottom: 100%;
  box-sizing: border-box; }

.is-7-by-8 {
  padding-bottom: 87.5%;
  box-sizing: border-box; }

.is-7-by-9 {
  padding-bottom: 77.77778%;
  box-sizing: border-box; }

.is-7-by-10 {
  padding-bottom: 70%;
  box-sizing: border-box; }

.is-7-by-11 {
  padding-bottom: 63.63636%;
  box-sizing: border-box; }

.is-7-by-12 {
  padding-bottom: 58.33333%;
  box-sizing: border-box; }

.is-7-by-13 {
  padding-bottom: 53.84615%;
  box-sizing: border-box; }

.is-7-by-14 {
  padding-bottom: 50%;
  box-sizing: border-box; }

.is-7-by-15 {
  padding-bottom: 46.66667%;
  box-sizing: border-box; }

.is-8-by-1 {
  padding-bottom: 800%;
  box-sizing: border-box; }

.is-8-by-2 {
  padding-bottom: 400%;
  box-sizing: border-box; }

.is-8-by-3 {
  padding-bottom: 266.66667%;
  box-sizing: border-box; }

.is-8-by-4 {
  padding-bottom: 200%;
  box-sizing: border-box; }

.is-8-by-5 {
  padding-bottom: 160%;
  box-sizing: border-box; }

.is-8-by-6 {
  padding-bottom: 133.33333%;
  box-sizing: border-box; }

.is-8-by-7 {
  padding-bottom: 114.28571%;
  box-sizing: border-box; }

.is-8-by-8 {
  padding-bottom: 100%;
  box-sizing: border-box; }

.is-8-by-9 {
  padding-bottom: 88.88889%;
  box-sizing: border-box; }

.is-8-by-10 {
  padding-bottom: 80%;
  box-sizing: border-box; }

.is-8-by-11 {
  padding-bottom: 72.72727%;
  box-sizing: border-box; }

.is-8-by-12 {
  padding-bottom: 66.66667%;
  box-sizing: border-box; }

.is-8-by-13 {
  padding-bottom: 61.53846%;
  box-sizing: border-box; }

.is-8-by-14 {
  padding-bottom: 57.14286%;
  box-sizing: border-box; }

.is-8-by-15 {
  padding-bottom: 53.33333%;
  box-sizing: border-box; }

.is-9-by-1 {
  padding-bottom: 900%;
  box-sizing: border-box; }

.is-9-by-2 {
  padding-bottom: 450%;
  box-sizing: border-box; }

.is-9-by-3 {
  padding-bottom: 300%;
  box-sizing: border-box; }

.is-9-by-4 {
  padding-bottom: 225%;
  box-sizing: border-box; }

.is-9-by-5 {
  padding-bottom: 180%;
  box-sizing: border-box; }

.is-9-by-6 {
  padding-bottom: 150%;
  box-sizing: border-box; }

.is-9-by-7 {
  padding-bottom: 128.57143%;
  box-sizing: border-box; }

.is-9-by-8 {
  padding-bottom: 112.5%;
  box-sizing: border-box; }

.is-9-by-9 {
  padding-bottom: 100%;
  box-sizing: border-box; }

.is-9-by-10 {
  padding-bottom: 90%;
  box-sizing: border-box; }

.is-9-by-11 {
  padding-bottom: 81.81818%;
  box-sizing: border-box; }

.is-9-by-12 {
  padding-bottom: 75%;
  box-sizing: border-box; }

.is-9-by-13 {
  padding-bottom: 69.23077%;
  box-sizing: border-box; }

.is-9-by-14 {
  padding-bottom: 64.28571%;
  box-sizing: border-box; }

.is-9-by-15 {
  padding-bottom: 60%;
  box-sizing: border-box; }

.is-10-by-1 {
  padding-bottom: 1000%;
  box-sizing: border-box; }

.is-10-by-2 {
  padding-bottom: 500%;
  box-sizing: border-box; }

.is-10-by-3 {
  padding-bottom: 333.33333%;
  box-sizing: border-box; }

.is-10-by-4 {
  padding-bottom: 250%;
  box-sizing: border-box; }

.is-10-by-5 {
  padding-bottom: 200%;
  box-sizing: border-box; }

.is-10-by-6 {
  padding-bottom: 166.66667%;
  box-sizing: border-box; }

.is-10-by-7 {
  padding-bottom: 142.85714%;
  box-sizing: border-box; }

.is-10-by-8 {
  padding-bottom: 125%;
  box-sizing: border-box; }

.is-10-by-9 {
  padding-bottom: 111.11111%;
  box-sizing: border-box; }

.is-10-by-10 {
  padding-bottom: 100%;
  box-sizing: border-box; }

.is-10-by-11 {
  padding-bottom: 90.90909%;
  box-sizing: border-box; }

.is-10-by-12 {
  padding-bottom: 83.33333%;
  box-sizing: border-box; }

.is-10-by-13 {
  padding-bottom: 76.92308%;
  box-sizing: border-box; }

.is-10-by-14 {
  padding-bottom: 71.42857%;
  box-sizing: border-box; }

.is-10-by-15 {
  padding-bottom: 66.66667%;
  box-sizing: border-box; }

.is-11-by-1 {
  padding-bottom: 1100%;
  box-sizing: border-box; }

.is-11-by-2 {
  padding-bottom: 550%;
  box-sizing: border-box; }

.is-11-by-3 {
  padding-bottom: 366.66667%;
  box-sizing: border-box; }

.is-11-by-4 {
  padding-bottom: 275%;
  box-sizing: border-box; }

.is-11-by-5 {
  padding-bottom: 220%;
  box-sizing: border-box; }

.is-11-by-6 {
  padding-bottom: 183.33333%;
  box-sizing: border-box; }

.is-11-by-7 {
  padding-bottom: 157.14286%;
  box-sizing: border-box; }

.is-11-by-8 {
  padding-bottom: 137.5%;
  box-sizing: border-box; }

.is-11-by-9 {
  padding-bottom: 122.22222%;
  box-sizing: border-box; }

.is-11-by-10 {
  padding-bottom: 110%;
  box-sizing: border-box; }

.is-11-by-11 {
  padding-bottom: 100%;
  box-sizing: border-box; }

.is-11-by-12 {
  padding-bottom: 91.66667%;
  box-sizing: border-box; }

.is-11-by-13 {
  padding-bottom: 84.61538%;
  box-sizing: border-box; }

.is-11-by-14 {
  padding-bottom: 78.57143%;
  box-sizing: border-box; }

.is-11-by-15 {
  padding-bottom: 73.33333%;
  box-sizing: border-box; }

.is-12-by-1 {
  padding-bottom: 1200%;
  box-sizing: border-box; }

.is-12-by-2 {
  padding-bottom: 600%;
  box-sizing: border-box; }

.is-12-by-3 {
  padding-bottom: 400%;
  box-sizing: border-box; }

.is-12-by-4 {
  padding-bottom: 300%;
  box-sizing: border-box; }

.is-12-by-5 {
  padding-bottom: 240%;
  box-sizing: border-box; }

.is-12-by-6 {
  padding-bottom: 200%;
  box-sizing: border-box; }

.is-12-by-7 {
  padding-bottom: 171.42857%;
  box-sizing: border-box; }

.is-12-by-8 {
  padding-bottom: 150%;
  box-sizing: border-box; }

.is-12-by-9 {
  padding-bottom: 133.33333%;
  box-sizing: border-box; }

.is-12-by-10 {
  padding-bottom: 120%;
  box-sizing: border-box; }

.is-12-by-11 {
  padding-bottom: 109.09091%;
  box-sizing: border-box; }

.is-12-by-12 {
  padding-bottom: 100%;
  box-sizing: border-box; }

.is-12-by-13 {
  padding-bottom: 92.30769%;
  box-sizing: border-box; }

.is-12-by-14 {
  padding-bottom: 85.71429%;
  box-sizing: border-box; }

.is-12-by-15 {
  padding-bottom: 80%;
  box-sizing: border-box; }

.is-13-by-1 {
  padding-bottom: 1300%;
  box-sizing: border-box; }

.is-13-by-2 {
  padding-bottom: 650%;
  box-sizing: border-box; }

.is-13-by-3 {
  padding-bottom: 433.33333%;
  box-sizing: border-box; }

.is-13-by-4 {
  padding-bottom: 325%;
  box-sizing: border-box; }

.is-13-by-5 {
  padding-bottom: 260%;
  box-sizing: border-box; }

.is-13-by-6 {
  padding-bottom: 216.66667%;
  box-sizing: border-box; }

.is-13-by-7 {
  padding-bottom: 185.71429%;
  box-sizing: border-box; }

.is-13-by-8 {
  padding-bottom: 162.5%;
  box-sizing: border-box; }

.is-13-by-9 {
  padding-bottom: 144.44444%;
  box-sizing: border-box; }

.is-13-by-10 {
  padding-bottom: 130%;
  box-sizing: border-box; }

.is-13-by-11 {
  padding-bottom: 118.18182%;
  box-sizing: border-box; }

.is-13-by-12 {
  padding-bottom: 108.33333%;
  box-sizing: border-box; }

.is-13-by-13 {
  padding-bottom: 100%;
  box-sizing: border-box; }

.is-13-by-14 {
  padding-bottom: 92.85714%;
  box-sizing: border-box; }

.is-13-by-15 {
  padding-bottom: 86.66667%;
  box-sizing: border-box; }

.is-14-by-1 {
  padding-bottom: 1400%;
  box-sizing: border-box; }

.is-14-by-2 {
  padding-bottom: 700%;
  box-sizing: border-box; }

.is-14-by-3 {
  padding-bottom: 466.66667%;
  box-sizing: border-box; }

.is-14-by-4 {
  padding-bottom: 350%;
  box-sizing: border-box; }

.is-14-by-5 {
  padding-bottom: 280%;
  box-sizing: border-box; }

.is-14-by-6 {
  padding-bottom: 233.33333%;
  box-sizing: border-box; }

.is-14-by-7 {
  padding-bottom: 200%;
  box-sizing: border-box; }

.is-14-by-8 {
  padding-bottom: 175%;
  box-sizing: border-box; }

.is-14-by-9 {
  padding-bottom: 155.55556%;
  box-sizing: border-box; }

.is-14-by-10 {
  padding-bottom: 140%;
  box-sizing: border-box; }

.is-14-by-11 {
  padding-bottom: 127.27273%;
  box-sizing: border-box; }

.is-14-by-12 {
  padding-bottom: 116.66667%;
  box-sizing: border-box; }

.is-14-by-13 {
  padding-bottom: 107.69231%;
  box-sizing: border-box; }

.is-14-by-14 {
  padding-bottom: 100%;
  box-sizing: border-box; }

.is-14-by-15 {
  padding-bottom: 93.33333%;
  box-sizing: border-box; }

.is-15-by-1 {
  padding-bottom: 1500%;
  box-sizing: border-box; }

.is-15-by-2 {
  padding-bottom: 750%;
  box-sizing: border-box; }

.is-15-by-3 {
  padding-bottom: 500%;
  box-sizing: border-box; }

.is-15-by-4 {
  padding-bottom: 375%;
  box-sizing: border-box; }

.is-15-by-5 {
  padding-bottom: 300%;
  box-sizing: border-box; }

.is-15-by-6 {
  padding-bottom: 250%;
  box-sizing: border-box; }

.is-15-by-7 {
  padding-bottom: 214.28571%;
  box-sizing: border-box; }

.is-15-by-8 {
  padding-bottom: 187.5%;
  box-sizing: border-box; }

.is-15-by-9 {
  padding-bottom: 166.66667%;
  box-sizing: border-box; }

.is-15-by-10 {
  padding-bottom: 150%;
  box-sizing: border-box; }

.is-15-by-11 {
  padding-bottom: 136.36364%;
  box-sizing: border-box; }

.is-15-by-12 {
  padding-bottom: 125%;
  box-sizing: border-box; }

.is-15-by-13 {
  padding-bottom: 115.38462%;
  box-sizing: border-box; }

.is-15-by-14 {
  padding-bottom: 107.14286%;
  box-sizing: border-box; }

.is-15-by-15 {
  padding-bottom: 100%;
  box-sizing: border-box; }

.clearfix::before, .clearfix::after {
  content: ' ';
  display: table; }

.clearfix::after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.fit {
  max-width: 100%; }
