$list: ('block', 'inline-block', 'flex', 'table', 'table-cell', 'inline');
$compare: 0;

@each $listitem in $list {
    $has: $listitem;
    $temp: str-slice($listitem, 1, 1);
    $needIndex: str-index($listitem, '-');
    $slices: '';

    // @if (type-of($needIndex)=="number") {
    @while ($needIndex) {


        $slices: str-slice($listitem, $needIndex + 1, $needIndex + 1);
        $temp: #{$temp}#{$slices};
        $listitem: str-slice($listitem, $needIndex + 2, -1);
        $needIndex: str-index($listitem, '-');
    }

    // }

    .d#{$temp} {
        display: $has;
    }

}