$list: (block, inline-block, flex, table, table-cell, inline) !default;
$compare: 0 !default;

@mixin build-display {
  @each $listitem in $list {
    $has: $listitem;
    $temp: str-slice(quote($listitem), 1, 1);
    $needIndex: str-index($listitem, '-');
    $slices: '';

    // @if (type-of($needIndex)=="number") {
    @while ($needIndex) {
      $slices: str-slice(quote($listitem), $needIndex + 1, $needIndex + 1);
      $temp: #{$temp}#{$slices};
      $listitem: str-slice(quote($listitem), $needIndex + 2, -1);
      $needIndex: str-index($listitem, '-');
    }

    .d#{$temp} {
      display: $has;
    }
  }
}

@include build-display();
