$space: 8px;
$ranges: ('top', 'right', 'bottom', 'left') !default;

@for $index from 1 to 8 {
    @each $range in $ranges {
        $r: str-slice($range, 1, 1);

        .m#{$r}#{$index} {
            margin-#{$range}: $space * $index;
        }
    }

    .m#{$index} {
        margin: $space * $index;
    }
}